div {
    margin-top: 10%;
}

table {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    margin: auto;
    width: 65%;
    font-size: 1.1rem;
    
}

#header {
    background-color: #3a5997;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    text-align: center;

}

#header:hover {
    background-color: #ffffff !important;
    color: #FF4500;
    font-weight: bold;
    font-size: 1.5rem;
}

#footer {
    background-color: rgb(255, 72, 0);
    color: white;
}

#footer:hover {
    background-color: #ffffff !important;
    color: #FF4500;
    font-weight: bold;
}

.align-right {
    text-align: right;
    border: #3a5997 1px solid;
    padding: 0.5rem;

}
.align-left {
    text-align: left;
    border: #3a5997 1px solid;

}

.align-center {
    text-align: center;
    border: #3a5997 1px solid;
}

tr:hover {
    background-color: #ffffff !important;
    color: #FF4500;
    font-weight: bold;
    font-size: 1.5rem;
}

tr:nth-child(even) {
    background-color: #8b9dc3;
}

tr:nth-child(odd) {
    background-color: #dfe3ee;
}