.container{
    background-color:rgb(138, 134, 133);
 margin: auto;
 width: 40%;
 height: 160px;
 padding: 10px;
 color: rgb(231, 223, 223);

}
.btn {
    background-color: #e08905;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 4px;
    
  }
 
